<!-- card partial, krijgt specialist instance mee -->
<div class="row">
  <div class="col-xs-12">
    <div class ="card">
      <div class="card-category"> <%= link_to specialist.first_name, specialist_path(specialist) %></div>
      <div class="card-description">
        <p><%= truncate(specialist.bio, length: 60, escape: false) %></p>
      </div>
      <%= image_tag 'anne.jpg', class: "card-user avatar avatar-large" %>
      <div class="card-rating">
        <% specialist.rating.times do %>
        <span class="fa fa-star checked"></span>
        <% end %>
        <% (5-specialist.rating).times do %>
        <span class="fa fa-star"></span>
        <% end %>
        <ul>
          <% specialist.treatments.each do |treatment|%>
          <li>
            <%= link_to specialist_path(specialist) do %>
              <%= truncate(treatment.description, length: 30, escape: false) %> - <%= treatment.duration %> min - <%= treatment.price %>
            <% end %>
          </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>
