<!-- card partial, krijgt specialist instance mee -->
<div class="row">
  <div class="col-xs-12">
    <div class ="card">
      <div class="card-category"><%= specialist.first_name %></div>
      <div class="card-description">
        <p><%= truncate(specialist.bio, length: 60, escape: false) %></p>
      </div>
      <%= image_tag 'anne.jpg', class: "card-user avatar avatar-large" %>
      <div class="card-rating">

        <% if specialist.rating %>
          <% specialist.rating.times do %>
            <span class="fa fa-star checked"></span>
          <% end %>
          <% (5-specialist.rating).times do %>
            <span class="fa fa-star"></span>
          <% end %>
        <% else %>
          <p>no rating yet</p>
        <% end %>

        <ul>
          <% specialist.treatments.take(3).each do |tr| %>
            <li>
              <%= tr.subcategory.name %> - €
 <%= tr.price %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= link_to "", specialist_path(specialist), class: "card-link" %>
    </div>
  </div>
</div>
