<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HomeTreat | Get your treatment. Anytime. Anywhere.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">


    <!-- <meta name="description" content="HomeTreat info's">
    <meta charset="utf-8" />
    <link rel="icon" href="" type="image/png" />
    <meta property="og:title" content="HomeTreat | USP" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.hometreat.nl/" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="HomeTreat description" />
    <meta property="og:site_name" content="HomeTreat" />
    <link rel="alternate" hreflang="en" href="/" />
    <link rel="alternate" hreflang="nl" href="/nl" />
    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="canonical" href="https://www.hometreat.nl/" />
   -->
   </head>

  <body>
    <div style="min-height: calc(100vh - 70px)">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div style="padding-top: 50px;">
    <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    </div>
    <%= render 'shared/footer' %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>



  </body>

</html>
